<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>API_BASE_URL</key>
        <string>http://localhost:3001</string>
        <key>NSAppTransportSecurity</key>
        <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
        </dict>
        <key>RECAPTCHA_ACTION</key>
        <string>checkout</string>
        <key>RECAPTCHA_MIN_SCORE</key>
        <real>0.5</real>
        <key>RECAPTCHA_SITE_KEY</key>
        <string>6LcENrsrAAAAALomNaP-d0iFoJIIglAqX2uWfMWH</string>
</dict>
</plist>
